.delete-account-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 2rem auto;
  max-width: 80vw;
  padding: 1rem; 
  font-family: "Baloo 2", sans-serif; 
}

.delete-title {
  font-family: "Marianne", sans-serif, Arial, Verdana; 
  font-size: 3.5rem; 
  text-shadow: 0 4px 4px rgba(242, 139, 130, 1);
}

.error-message {
  color: red; 
  margin: 1rem 0; 
}

.delete-warning {
  text-align: center; 
  margin: 1rem 0; 
  font-size: 1.5rem;
}

.back-link, .logout-button {
  color: black; 
  border: solid 2px transparent; 
  border-radius: 5px; 
  cursor: pointer; 
  font-family: "Baloo 2"; 
  font-size: large; 
  width: 100%; 
  min-width: 15rem; 
  text-align: center; 
  text-decoration: none; 
  margin-block: 2rem;
}

.back-link {
  background-color: #A8E6CF; 
}

.back-link:hover {
  background-color: #A8E6CF; 
}

.logout-button {
  background-color: #ff4d4d94;
}

.logout-button:hover {
  background-color: #F28B82; 
}
