@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baloo 2", "Arial Rounded MT", Arial;
  margin: auto;
  padding: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-form div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-form label {
  margin-bottom: 5px; 
  font-family: "Marianne";
  font-size: 3rem;
  text-align: center; 
  text-shadow: 0 4px 4px rgba(242, 139, 130, 1);
}

.login-form input {
  padding: 8px;
  width: 100%;
  max-width: 20rem;
  font-size: 16px;
  border: solid black 2px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}

input::placeholder {
  color: #999;
  font-family: "Baloo 2", "Arial Rounded MT", Arial; 
  font-size: 16px; 
}

.login-button {
  margin-block: 2rem;
  background-color: white; 
  border: solid 2px black;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width:  60px;  
  height:  60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}

.login-button:hover {
  background-color: #9AD98B;
}

.login-button img {
  width: 30px;  
  height: 30px; 
}

.login-register-link {
  font-family: "Baloo 2", "Arial Rounded MT", Arial; 
  font-size: 1rem;
  font-weight: bold;
}

.login-button-container {
  display: flex; 
  align-items: center;
  gap: 1rem;
}

.login-register-link:hover {
  text-decoration: underline #F28B82;
}

@media (max-width: 768px) {
  .login-form label {
    font-size: 2rem;
  }

  .login-form input {
    max-width: 100%; 
    width: 100%;
  }

  .login-button {
    width: 40px;
    height: 40px;
  }

  .login-button img {
    width: 25px;
    height: 25px;
  }
}
