.personal-page-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 2rem auto;
  max-width: 80vw;
}

.profile-info {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.cat-profile-pic {
  max-width: 20%;
  height: auto; 
  border-radius: 50%;
  border: 2px solid black;
}

h1 {
  text-align: center;
  margin: 1rem 0; 
}

.button-list {
  list-style-type: none;
  padding: 0; 
}

.read-books-button, .delete-button {
  color: black;
  padding: 8px 12px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  max-width: 250px; 
  text-align: center;
  margin: 0.5rem 0; 
  font-family: "Baloo 2";
  font-size: large;
  border: solid 2px transparent;
}

.read-books-button {
  background-color: #FFE08B; 
}

.delete-button {
  background-color: #A4B8E1; 
}

.read-books-button:hover, .delete-button:hover {
  border: solid 2px black;
  color: black;
}

.logout-button {
  background-color: #ff4d4d94; 
  color: black;
  padding: 8px 15px; 
  border: solid 2px transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem; 
  font-family: "Baloo 2";
  font-size: large;
}

.logout-button:hover {
  background-color: #F28B82; 
}
