.personal-page-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi orizzontalmente */
  margin: 2rem auto;
  max-width: 80vw;
}

.profile-info {
  display: flex;
  flex-direction: column; /* Layout verticale per immagine e titolo */
  align-items: center;
}

.cat-profile-pic {
  max-width: 20%;
  height: auto; /* Mantiene il rapporto di aspetto */
  border-radius: 50%;
  border: 2px solid black;
}

h1 {
  text-align: center;
  margin: 1rem 0; /* Margine sopra e sotto il titolo */
}

.button-list {
  list-style-type: none; /* Rimuove i punti elenco */
  padding: 0; /* Rimuove il padding predefinito */
}

.read-books-button, .delete-button {
  color: black;
  padding: 8px 12px; /* Leggermente meno padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Larghezza totale */
  max-width: 250px; /* Larghezza massima per i pulsanti */
  text-align: center;
  margin: 0.5rem 0; /* Margine tra i pulsanti */
  font-family: "Baloo 2";
  font-size: large;
  border: solid 2px transparent;
}

/* Pulsante di lettura: Tonalità pastello verde chiaro */
.read-books-button {
  background-color: #FFE08B; /* Verde pastello */
}

/* Pulsante di cancellazione: Tonalità pastello blu chiaro */
.delete-button {
  background-color: #A4B8E1; /* Blu pastello */
}

.read-books-button:hover, .delete-button:hover {
  border: solid 2px black;
  color: black;
}

.logout-button {
  background-color: #ff4d4d94; /* Colore di sfondo per il pulsante di logout */
  color: black;
  padding: 8px 15px; /* Ridotto il padding */
  border: solid 2px transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem; /* Margine sopra il pulsante di logout */
  font-family: "Baloo 2";
  font-size: large;
}

.logout-button:hover {
  background-color: #F28B82; /* Colore più scuro al passaggio del mouse */
}
