.personal-page-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 2rem auto;
  max-width: 80vw;
}

.profile-info {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.cat-profile-pic {
  max-width: 20%;
  height: auto; 
  border-radius: 50%;
  border: 2px solid black;
}

h1 {
  text-align: center;
  margin: 1rem 0; 
}

.button-list {
  list-style-type: none;
  padding: 0; 
}

.read-books-button,
.delete-button,
.personal-notes-button,
.log-out-button {
  color: black;
  padding: 8px 12px;
  border: solid 2px transparent; 
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  min-width: 250px; 
  text-align: center;
  margin: 0.5rem 0;
  font-family: "Baloo 2";
  font-size: large;
}

.read-books-button {
  background-color: #FFE08B;
}

.delete-button {
  background-color: #A4B8E1;
}

.personal-notes-button {
  background-color: #F9A66D;
}

.log-out-button {
  background-color: #B7C9A8;
  max-width: 250px;
}

.read-books-button:hover,
.delete-button:hover,
.personal-notes-button:hover {
  border: solid 2px black;
  background-color: inherit;
}

.log-out-button:hover {
  background-color: transparent;
  border: black 2px solid;
}
