header {
  min-height: 25vh;
  min-width: 80vw;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.purrfect-title {
  color: white;
  font-family: "Oriental Cats Light", "Baloo", "Verdana";
}