header {
  min-height: 15vh;
  display: flex;
  justify-content:center;
  align-items: center; 
}

.purrfect-title {
  color: white;
  min-width: 25rem;
  font-weight: bolder;
  font-family: "Oriental Cats Light", "Baloo", "Verdana";

}

.header-logo {
 max-width: 10rem;
 max-height:auto;
 filter: invert(1); 
}
