html {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oriental Cats Light", "Baloo", "Verdana";
  flex-direction: column;
    background-color: #F28B82;
}

body {
  display: flex;
  flex-direction: column;
}